{{ resume.name }}
=======
{%- if contact is not none %}
*{{ contact.email }}, {{ contact.phone }}, {{ contact.address_1}}, {{ contact.address_2 }}*
{% endif -%}
[linkedin]({{ resume.linkedin }})
[github]({{ resume.github }})

## Experience
{%- for item in resume.experience %}
- ** {{ item.company }} ** 
  - {{ item.title }} ({{ item.date.from }} - {{ item.date.to }})
    {%- for descr in item.description recursive %}
      {%- if descr.detail is string %}
    - {{ '*%s*' % descr.title if descr.title is defined }} {{ descr.detail -}}
      {% else %}
        {{- loop(descr.detail) | indent(4, True) -}}
      {% endif -%}
    {% endfor %}
{%- endfor %}

## Publications
{%- for publication in resume.publications %} 
- {{ publication }}
{%- endfor %}

## Technical Skills
- {{ ', '.join(resume["technical skills"]) }}

## Education
{%- for item in resume.education %}
- ** {{ item.institution }} ** ({{ item.date.from}} - {{item.date.to }})
  - {{ item.description }}
{%- endfor %}
