% LaTeX file for resume
% This file uses the resume document class (res.cls)
% https://www.rpi.edu/dept/arc/training/latex/resumes/
% Combines res1 and res9b

\documentclass[line,margin]{res}
%\usepackage{helvetica} % uses helvetica postscript font (download helvetica.sty)
%\usepackage{newcent}   % uses new century schoolbook postscript font
\setlength{\textheight}{9.5in} % increase text height to fit on 1-page

\begin{document}

\name{<< resume.name | upper >>}     % the \\[12pt] adds a blank
                                     % line after name

~< if contact is not none >~
\address{<< contact.email >>}
\address{<< contact.phone >>}
~< endif >~

\begin{resume}

\section{EXPERIENCE}
   ~<- for item in resume.experience >~
   {\sl << item.title >>} \hfill << item.date.from >> - << item.date.to >> \\
   << item.company >>,
   << item.location >>
   \begin{itemize} \itemsep -2pt % reduce space between items
    ~<- for descr in item.description recursive >~
      ~<- if descr is string >~
   \item << descr | escape_tex ->>
      ~< else >~
   \begin{itemize}
         <<- loop(descr) | indent(4, True) ->>
   \end{itemize}
      ~< endif ->~
   ~< endfor >~ % for descr in item.description recursive
   \end{itemize}
   ~< endfor >~ % for item in resume.experience

\section{EDUCATION}
   ~<- for item in resume.education >~
	{\sl << item.description >>,} << item.date.to >> \\
   << item.institution >> 
   ~< endfor >~

\section{Technical}
   << ', '.join(resume["technical skills"]) >>

\section{PUBLICATIONS}
~<- for publication in resume.publications >~
   << publication >>
~<- endfor >~

\end{resume}
\end{document}
